<nav id="menu">
  <label for="tm" id="toggle-menu">
    <img src="assets/img/logo.png" style="height: 30px; width: auto;" alt="">
    <span class="drop-icon">
      <i class="fas fa-bars"></i>
    </span>
  </label>
  <input type="checkbox" id="tm">
  <ul class="main-menu clearfix">
    <li class="heading text-uppercase" class="logo d-sm-block">
      <a href="#">
        <img src="assets/img/Moving_Machine_Logo.png" alt="logo">
      </a>
    </li>
    <li class="heading text-uppercase" class="float-md-right ">
      <ul class="d-flex justify-content-md-end">
        <li class="heading text-uppercase">
          <a routerLink="" class="heading text-uppercase" nk="/enquiry">Home</a>
        </li>
        <li class="heading text-uppercase">
          <a href="#">Equipment
            <span class="drop-icon">▾</span>
            <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
          </a>
          <input type="checkbox" id="sm1">
          <ul class="sub-menu">
            <li class="heading text-uppercase">
              <a routerli class="heading text-uppercase" nk="/equipment/categories">Categories</a>
            </li>
            <li class="heading text-uppercase">
              <a href="#">Brands
                <span class="drop-icon">▾
                </span>
                <label title="Toggle Drop-down" class="drop-icon" for="sm2">▾
                </label>
              </a>
              <input type="checkbox" id="sm2">
              <ul class="sub-menu">
                <li class="heading text-uppercase">
                  <a routerLink='equipment/categories'>Cat</a>
                </li>
                <li class="heading text-uppercase">
                  <a routerLink='equipment/categories'>Marini</a>
                </li>
                <li class="heading text-uppercase">
                  <a routerLink='equipment/categories'>Denyo</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="heading text-uppercase">
          <a routerLink='about' class="heading text-uppercase" nk="/enquiry">about</a>
        </li>
        <li class="heading text-uppercase">
          <a routerLink='spare' class="heading text-uppercase" nk="/enquiry">Spare</a>
        </li>
        <li class="heading text-uppercase">
          <a routerLink='service' class="heading text-uppercase" nk="/enquiry">service</a>
        </li>
        <li class="heading text-uppercase">
          <a routerLink='' class="heading text-uppercase" nk="/enquiry">enquiry</a>
        </li>
      </ul>
    </li>

  </ul>
</nav>
