<div class="home-page-wrapper" style="background-image: url(assets/img/pattern2.png)">
  <app-carousal-banner></app-carousal-banner>
  <section class="features-section mt-5">
    <div class="container">
      <div class="features-item col-md-6 col-12">
        <div class="row" style="display: none">
          <div class="features-item col-md-6 col-12">

            <!-- Card -->
            <mdb-card>
              <div class="overlay">
              </div>
              <!--Card content-->
              <mdb-card-body class="py-4 px-4">
                <!-- Icon -->
                <div class="feature-icon text-center ">
                  <img src="assets/img/advantage.png" alt="">
                </div>
                <!--Title-->
                <mdb-card-title>
                  <h5 class="h5-responsive heading text-center text-capitalize my-3">Moving machine Advantage</h5>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla enim soluta at animi hic neque. Veniam distinctio
                  fuga molestias cupiditate quibusdam rem expedita, quidem, ipsum ea voluptas, dolorum atque voluptate?
                </mdb-card-text>

              </mdb-card-body>
            </mdb-card>
            <!-- Card -->
          </div>
          <div class="features-item col-md-6 col-12">
            <!-- Card -->
            <mdb-card>
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body class="py-4 px-4">
                <!-- Icon -->
                <div class="feature-icon text-center ">
                  <img src="assets/img/badge.png" alt="">
                </div>
                <!--Title-->
                <mdb-card-title>
                  <h5 class="h5-responsive heading text-center text-capitalize my-3">Quality Policy</h5>
                </mdb-card-title>

                <!--Text-->
                <mdb-card-text> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla enim soluta at animi hic neque. Veniam distinctio
                  fuga molestias cupiditate quibusdam rem expedita, quidem, ipsum ea voluptas, dolorum atque voluptate?
                </mdb-card-text>

              </mdb-card-body>
            </mdb-card>
            <!-- Card -->
          </div>

        </div>
      </div>

      <div class="">
        <div class="features-item mb-5">
          <div class="row">
            <div class="feature-img col-md-4">
              <img src="assets/img/cat1.jpeg" alt="">
            </div>
            <div class="col-md-8 d-flex text-md-left text-center justify-content-center flex-column pr-md-5">
              <h2 class="title heading h2-responsive text-capitalize mb-4">
                moving machine advantage
              </h2>
              <p class="pr-md-5">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. A reprehenderit sequi, cupiditate nam aperiam praesentium ratione
                asperiores dolor recusandae, accusamus magnam nobis quia cum modi temporibus cumque nostrum eveniet officiis
                aliquam? Quae, sed. Ducimus incidunt, provident commodi esse alias laboriosam.
              </p>
            </div>
          </div>
        </div>
        <div class="features-item">
          <div class="row d-flex">
            <div class="feature-img col-md-4 order-sm-2">
              <img src="assets/img/cat2.jpeg" alt="">
            </div>
            <div class="col-md-8 d-flex text-md-right text-center justify-content-center flex-column order-sm-1 pl-md-5">
              <h2 class="title heading h2-responsive text-capitalize mb-4">
                Quality Policy
              </h2>
              <p class="pl-md-5">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. A reprehenderit sequi, cupiditate nam aperiam praesentium ratione
                asperiores dolor recusandae, accusamus magnam nobis quia cum modi temporibus cumque nostrum eveniet officiis
                aliquam? Quae, sed. Ducimus incidunt, provident commodi esse alias laboriosam.
              </p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

  <section class="declaration-section py-5">
    <div class="container">
      <div class="declaration-content text-center py-2">
        <div class="heading declaration-title">
          <h2 class="h2-responsive text-capitalize">
            committed to superior quality and results
          </h2>
        </div>

        <div class="declaration-paragraph mt-4">
          <p class="px-md-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat sapiente consectetur illum provident, voluptas
            et ducimus necessitatibus minima similique animi accusantium vel voluptatibus in numquam voluptate sit voluptatum,
            eos esse ex sint corporis! Et ipsam, deleniti a laudantium exercitationem deserunt?</p>
        </div>
      </div>
    </div>
  </section>
</div>
