<section class="contact-page-section" style="background-image: url(assets/img/pattern2.png)">
  <div class="location-map-wrapper">
    <img src="assets/img/map.png" style="max-height: 300px; width: 100%" alt="map">
  </div>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 col-12 contact-addresses">
        <h4 class="title h4-responsive heading  mb-4">
          Contact Us
        </h4>
        <ul class="list-unstyled pt-5">

          <li class="mb-2">
            <div class="icon">
              <mdb-icon fas icon="map-marker-alt" class="mr-1 float-left" style="width: 20px; float: left"></mdb-icon>
            </div>
            <div class="contact-address d-inline-block">
              House #428/A, Road #30
              <br> Mohakhali DOHS
              <br> Dhaka-1206
              <br> Bangladesh
            </div>
          </li>
          <li class="mb-2">
            <div class="icon">
              <mdb-icon fas icon="phone" class="mr-1 float-left"></mdb-icon>
            </div>
            <div class="contact-phone d-inline-block">
              01711111101
            </div>
          </li>
          <li class="mb-2">
            <div class="icon">
              <mdb-icon fas icon="envelope" class="mr-1 float-left"></mdb-icon>
            </div>
            <div class="contact-mail d-inline-block">
              movingmachinebd@gmail.com
            </div>
          </li>
        </ul>
      </div>

      <!-- Contact-Form Start -->
      <div class="col-md-6 col-12 contact-form">
        <div class="">
          <div class="title-div mb-4">
            <h5 class="title h5-responsive heading text-capitalize">
              feel free to send us an Email
            </h5>
            <p>Fill out form below.Fills with * are required</p>
          </div>
          <div class="">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
              <div class="form-group ">
                <label>Name *</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">Name is required</div>
                </div>
              </div>

              <!-- </div> -->
              <div class="form-group">
                <label>Email *</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>

              <div class="form-group">
                <label>Contact No.*</label>
                <input type="tel" formControlName="tel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" />
                <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                  <div *ngIf="f.tel.errors.required">Contact No. is required</div>
                  <div *ngIf="f.tel.errors.pattern">Contact must be a valid Contact No</div>
                  <div *ngIf="f.tel.errors.minlength">Contact must be at least 11 characters</div>
                </div>
              </div>
              <div class="form-group">
                <label>Company</label>
                <input type="text" formControlName="lastName" class="form-control" />
              </div>
              <div class="form-group ">
                <label for="comment">Comment *</label>
                <!-- <textarea class="form-control" rows="5" id="comment"></textarea> -->
                <textarea type="text" formControlName="comment" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.comment.errors }"></textarea>
                <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
                  <div *ngIf="f.comment.errors.required">Comment is required</div>
                </div>
              </div>
              <!-- <div class="form-group form-check">
                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }"
                />
                <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
              </div> -->
              <div class="text-center">
                <button mdbBtn size="md" color="warning" mdbWavesEffect class="btn btn-primary mr-1">Sent
                  <mdb-icon fas icon="angle-right"></mdb-icon>
                </button>
                <!-- <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
