<nav aria-label="Page navigation  ">
  <ul class="my-5 pagination pagination-circle pg-amber justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" mdbWavesEffect>First</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" aria-label="Previous" mdbWavesEffect>
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active">
      <a class="page-link" mdbWavesEffect>1</a>
    </li>
    <li class="page-item">
      <a class="page-link" mdbWavesEffect>2</a>
    </li>
    <li class="page-item">
      <a class="page-link" mdbWavesEffect>3</a>
    </li>
    <li class="page-item">
      <a class="page-link" mdbWavesEffect>4</a>
    </li>
    <li class="page-item">
      <a class="page-link" mdbWavesEffect>5</a>
    </li>
    <li class="page-item">
      <a class="page-link" aria-label="Next" mdbWavesEffect>
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" mdbWavesEffect>Last</a>
    </li>
  </ul>
</nav>
