<section class="product-categories-section container">
  <div class="section-header my-5 text-uppercase text-center">
    <h3 class="h3-responsive heading">bulldozers</h3>
  </div>
  <div class="product-list">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="product-body mx-4 my-4">
          <a routerLink='/equipment/categories/product-details'>
            <div class="view overlay">
              <img src="assets/img/product/c2.jpg" class="img-fluid " alt="smaple image">
              <div class="mask flex-center rgba-blue-light">
                <p class="white-text">Light overlay</p>
              </div>
            </div>
            <div class="product-name heading text-center mt-2 mt-2 ">
              Cat D-300
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="product-body mx-4 my-4">
          <a routerLink='/equipment/categories/product-details'>
            <div class="view overlay">
              <img src="assets/img/product/c3.jpg" class="img-fluid " alt="smaple image">
              <div class="mask flex-center rgba-blue-light">
                <p class="white-text">Light overlay</p>
              </div>
            </div>
            <div class="product-name heading text-center mt-2 mt-2 ">
              Marini C-290
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="product-body mx-4 my-4">
          <a routerLink='/equipment/categories/product-details'>
            <div class="view overlay">
              <img src="assets/img/product/c4.jpg" class="img-fluid " alt="smaple image">
              <div class="mask flex-center rgba-blue-light">
                <p class="white-text">Light overlay</p>
              </div>
            </div>
            <div class="product-name heading text-center mt-2 mt-2 ">
              Cat NWW-11
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="product-body mx-4 my-4">
          <a routerLink='/equipment/categories/product-details'>
            <div class="view overlay">
              <img src="assets/img/product/c2.jpg" class="img-fluid " alt="smaple image">
              <div class="mask flex-center rgba-blue-light">
                <p class="white-text">Light overlay</p>
              </div>
            </div>
            <div class="product-name heading text-center mt-2 mt-2 ">
              Cat D-300
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="product-body mx-4 my-4">
          <a routerLink='/equipment/categories/product-details'>
            <div class="view overlay">
              <img src="assets/img/product/c3.jpg" class="img-fluid " alt="smaple image">
              <div class="mask flex-center rgba-blue-light">
                <p class="white-text">Light overlay</p>
              </div>
            </div>
            <div class="product-name heading text-center mt-2 mt-2 ">
              Marini C-290
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="product-body mx-4 my-4">
          <a routerLink='/equipment/categories/product-details'>
            <div class="view overlay">
              <img src="assets/img/product/c4.jpg" class="img-fluid " alt="smaple image">
              <div class="mask flex-center rgba-blue-light">
                <p class="white-text">Light overlay</p>
              </div>
            </div>
            <div class="product-name heading text-center mt-2 mt-2 ">
              Cat NWW-11
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="prev-page-btn mt-3">
      <button class="" mdbBtn type="button" color="danger" size='sm' mdbWavesEffect>
        <mdb-icon fas icon="chevron-circle-left" class="mr-1"></mdb-icon>Categories
      </button>
    </div>
  </div>

</section>

<app-pagination></app-pagination>
